<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <h1 class="text-center">Create Your Profile</h1>
            <p class="text-center">Fill our your profile for others to see!</p>
            <%= render 'form' %>
        </div>
    </div>
</div>