<div class="container">
  <% if params[:plan] == '2' %>
    <h2 class="text-center">Pro Account Sign Up</h2>
  <% else %>
    <h2 class="text-center">Basic Account Sign Up</h2>
  <% end %>

  <div class="well">
    <% if params[:plan] == '2' %>
      <%= render "pro_form" %>
    <% else %>
      <%= render "basic_form" %>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>

</div>